/* HoverMenu.css */
.hover-menu {
  position: absolute;
  top: 10px;
  left: 10px;
  z-index: 1000;
}

.button-container {
  display: flex;
  /* flex-direction: column; */
  gap: 10px;
}

.hover-menu .p-button {
  padding: 7px;
  gap: 10px;
}
